:root {
    --swiper-theme-color: #fff;
}

// 사이트의 공통 스타일을 정의합니다.

// x축 그리드 정렬
// mobile first
.container {
    width: 100%;
    padding: 0 20px;
    transition: all 0.3s;
}
// mobile (480px) 이상일 때
// tablet (768px) 이상일 때
@media screen and (min-width: $breakpoint-md) {
    .container {
        padding: 0 30px;
    }
}
// laptop (1024px) 이상일 때
// desktop (1280px) 이상일 때
@media screen and (min-width: $breakpoint-xl) {
    .container {
        max-width: 1340px;
        margin: 0 auto;
        padding: 0 30px;
    }
}
.bg-grey {
    background: #f8f8f8;
}
.sec-g {
    padding: 30px 0;
}
.dimmed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba($black, 0.3);
    backdrop-filter: blur(30px);
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    padding: 0 32px;
    color: #444;
    border-radius: 100px;
    text-align: center;
    border: 1px solid #444;
    font-size: 14px;
    white-space: nowrap;
    transition: 0.3s;
    background-color: transparent;
    font-weight: 500;
    margin-top: 46px;
}
.btn {
    svg {
        width: 16px;
        height: 16px;
        stroke: #444;
        margin-left: 5px;
        text-align: center;
        align-items: center;
    }
}
.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
// swiper
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
    display: none;
}
@media screen and (min-width: $breakpoint-xl) {
    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
}

// 버튼, 라디오 버튼, 체크박스
// 카드디자인, 리스트 디자인
// 공통 스타일을 정의

#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
// header
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.05);
    .container {
        @include flexSpaceBetween;
    }
    #logo {
        a {
            @include flexitems;
            height: $hdH-xl;
            width: $hdH-xl;
            font-size: 1.4rem;
            color: $white;
        }
    }
    #gnb {
        display: flex;
        .label-menu {
            position: relative;
            z-index: 1000;
            .bar {
                display: block;
                width: 30px;
                height: 2px;
                background: $white;
                margin: 5px 0;
                border-radius: 3px;
                transition: all 0.3s;
            }
        }

        #btnMenu {
            &:checked {
                + .label-menu {
                    .bar {
                        &:nth-child(1) {
                            transform: translateY(7px) rotate(45deg);
                            background: $black;
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform: translateY(-7px) rotate(-45deg);
                            background: $black;
                        }
                    }
                }
                ~ .menu-wrap {
                    left: 0;
                }
            }
        }

        .menu-wrap {
            // display: none;
            overflow-y: auto;
            position: fixed;
            top: 0;
            left: 100%;
            width: 100%;
            height: 100vh;
            z-index: 999;
            padding: 20px;
            background: $white;
            transition: all 0.3s;
        }
        .m-util {
            display: flex;
            gap: 5px;
            padding: 0;
            a {
                display: flex;
                align-items: center;
                padding: 7px 20px 5px;
                border: 1px solid $gray-40;
                border-radius: 5px;
                color: $gray-70;
                &.active {
                    background: $primary-50;
                    border: 1px solid $primary-50;
                    color: $white;
                }
            }
        }
        .top-menu {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
            dl {
                display: flex;
                flex-direction: column;
                padding: 0 20px;
                background: $bgDefult;
                border-radius: 5px;
                &.active {
                    dt {
                        a {
                            color: $primary-50;
                            font-weight: 700;
                            &::after {
                                content: '\f068';
                            }
                        }
                    }
                    dd {
                        display: flex;

                        padding-bottom: 20px;
                    }
                }
                dt {
                    a {
                        position: relative;
                        display: block;
                        padding: 15px 0;
                        font-size: 1.1875rem;
                        &::after {
                            content: '\f067';
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-57%);
                            font-family: 'Line Awesome Free';
                            font-weight: 900;
                        }
                    }
                }
                dd {
                    display: none;
                    flex-direction: column;
                    gap: 5px;
                    overflow: hidden;
                    // height: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    transition: all 0.7s;
                    a {
                        position: relative;
                        display: block;
                        padding: 3px 0 3px 16px;
                        color: $gray-70;
                        &.active {
                            color: $primary-50;
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 3px;
                            transform: translateY(-50%);
                            width: 3px;
                            height: 3px;
                            background: rgba($gray-90, 0.5);
                        }
                    }
                }
            }
        }
    }
    .util {
        display: none;
    }
}
@media screen and (min-width: $breakpoint-xl) {
    #header {
        position: fixed;
        background: $white;
        transition: all 0.3s;
        &.theme-dark {
            background: rgba($black, 0.05);
            #logo a,
            * {
                color: $white;
            }

            .lang a {
                color: $gray-40;
                &.active {
                    color: $white;
                }
            }
        }
        &.is__scroll {
            background: rgba(0, 0, 0, 0.1);
            backdrop-filter: saturate(180%) blur(15px);
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.07);
        }
        #logo {
            a {
                color: $gray-90;
            }
        }
        #gnb {
            #btnMenu,
            .label-menu,
            .m-util {
                display: none;
            }
            .menu-wrap {
                overflow: visible;
                position: static;
                width: auto;
                height: auto;
                padding: 0;
                background: transparent;
            }
            .top-menu {
                flex-direction: row;
                margin-top: 0;
                dl {
                    position: relative;
                    padding: 0;
                    background-color: transparent;
                    &.active {
                        dd {
                            display: none;
                        }
                    }
                    &:hover,
                    &:focus-within {
                        dt {
                            a {
                                color: $primary-50;
                                text-decoration: none;
                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                        dd {
                            height: auto;
                            max-height: 300px;
                            padding: 10px 0 20px;
                        }
                    }
                    dt {
                        font-size: 1.2rem;
                        font-weight: 400;
                        a {
                            position: relative;
                            @include flexitems;
                            height: $hdH-xl;
                            padding: 0 40px;
                            &::before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 0;
                                height: 3px;
                                background: $primary-50;
                                transition: all 0.3s;
                            }
                            &::after {
                                display: none;
                            }
                        }
                    }
                    dd {
                        position: absolute;
                        top: 100px;
                        left: 0;
                        width: 100%;
                        max-height: 0;
                        transition: all 0.5s;
                        background: $white;
                        a {
                            padding: 7px 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .util {
            display: flex;
        }
        .lang {
            display: flex;
            a {
                position: relative;
                display: flex;
                align-items: center;
                padding: 0 20px;
                height: $hdH-xl;
                color: $gray-50;
                &.active {
                    color: $gray-90;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 20px;
                    background: $gray-40;
                    opacity: 0.5;
                }
                &:first-child::before {
                    display: none;
                }
            }
        }
        .search-area {
            .btn-search {
                @include flexitems;
                height: $hdH-xl;
                padding: 0 10px;
                i {
                    font-size: 1.7rem;
                    transform: scaleX(-1);
                }
            }
            .layer-search {
                opacity: 0;
                visibility: hidden;
                transition:
                    opacity 0.5s ease,
                    visibility 0.5s ease;
                &.fade-in {
                    opacity: 1;
                    visibility: visible;
                }
                &.fade-out {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            .search-box {
                position: relative;
                @include flexCenter;
                height: 300px;
                background: $white;
                .form-search {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 0 10px 0 30px;
                    border: 2px solid $primary-50;
                    border-radius: 62px;
                }
                .inp-search {
                    width: 600px;
                    padding: 20px 0;
                    border: none;
                    background-color: transparent;
                    &:focus {
                        outline: none;
                    }
                }
                .btn-submit {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: $primary-50;
                    color: $white;
                    transform: scaleX(-1);
                    font-size: 1.2rem;
                }
                .btn-close {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    @include flexCenter;
                    width: 70px;
                    height: 70px;
                    background: $primary-50;
                    i {
                        color: $white;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

// main
#main {
    flex: 1;
}

// section
.sec-type1,
.sec-type2,
.sec-type3 {
    margin: 120px 0;
    .sec-title {
        font-size: $font-size-title;
        line-height: $line-height-m;
        letter-spacing: $letter-spacing-title;
        color: $black;
        text-align: left;
    }
    .sub_title {
        font-size: $font-size-xxxl;
        line-height: $line-height-m;
        letter-spacing: $letter-spacing-subtitle;
        font-weight: $font-weight-medium;
    }
    .pb-s {
        padding-bottom: $spacing-m;
    }
    .pb-l {
        padding-bottom: $spacing-xxxxl;
    }
}
@media screen and (min-width: $breakpoint-xl) {
    .sec-type1 {
        padding: 100px 0;
    }
}
// .sec-type3 {
//     .tab-list {
//         text-align: left;
//     }
//     .tab-list-inner {
//         position: relative;
//         display: inline-flex;

//         border-radius: 100px;
//         background-color: $white;
//         color: $white;
//         margin: $spacing-xxxxl 0;
//         gap: $spacing-xs;
//         a {
//             position: relative;
//             @include flexCenter;
//             text-align: center;
//             padding: 8px 24px;
//             transition:
//                 color 0.3s,
//                 opacity 0.3s;
//             border-radius: 90px;
//             border: 1px solid $gray-40;
//             span {
//                 font-size: $font-size-xl;
//                 line-height: 32px;
//                 letter-spacing: -0.2px;
//                 font-weight: $font-weight-medium;
//             }

//             &.tab--active {
//                 background-color: $primary-80;
//                 border: 1px solid $primary-80;
//                 span {
//                     color: $white;
//                     font-weight: $font-weight-medium;
//                 }
//             }
//         }
//     }
//     .tab-train {
//         display: block;
//         position: absolute;
//         top: 8rem;
//         bottom: 8rem;
//         left: 8rem;
//         min-width: 134rem;
//         background: #fff;
//         border-radius: 100px;
//     }
//     ul {
//         display: flex;
//         gap: $spacing-l;
//         width: 100%;
//         justify-content: space-between;
//         color: #1e1e1e;
//         font-weight: $font-weight-bold;
//         margin-bottom: 80px;
//     }
//     li {
//         // flex-grow: 1;
//         // flex-basis: 0;
//         // flex-shrink: 1;
//         height: 265px;
//         border-radius: 10px;
//         // width: calc(25% - 24px);
//         flex: 1 1 calc(25% - 20px);
//         a:hover {
//             .thumb_box img {
//                 scale: 110%;
//             }
//             .desc_box p {
//                 color: #005eff;
//                 text-decoration: none;
//             }
//         }
//     }
//     .thumb_box {
//         width: 100%;
//         height: 100%;
//         border-radius: 10px;
//         display: block;
//         position: relative;
//         overflow: hidden;
//     }
//     .thumb_box img {
//         width: 100%;
//         height: 100%;
//         border-radius: 10px;
//         position: absolute;
//         object-fit: cover;
//         transition: scale 400ms;
//     }
//     .desc_box {
//         p {
//             margin-top: 20px;
//         }
//         span {
//             margin-top: 12px;
//             color: #aaa;
//             font-size: 16px;
//             line-height: 22px;
//             font-weight: 500;
//         }
//     }
//     .btn-container {
//         @include flexCenter;
//     }
//     .btn {
//         &:hover {
//             background-color: #f5f5f5;
//             color: #000;
//             border: #f5f5f5 1px solid;
//         }
//     }
// }

// @media (max-width: 1200px) {
//     .sec-type3 {
//         ul.item {
//             li {
//                 width: calc(50% - 16px);
//             }
//         }
//     }
// }

// @media (max-width: 745px) {
//     .sec-type3 {
//         ul.item {
//             li {
//                 flex: 1 1 100%;
//             }
//         }
//     }
// }
.sec-type3 {
    .tab-list {
        text-align: left;
    }
    .tab-list-inner {
        position: relative;
        display: inline-flex;
        border-radius: 100px;
        background-color: $white;
        color: $white;
        margin: $spacing-xxxxl 0;
        gap: $spacing-xs;
        a {
            position: relative;
            @include flexCenter;
            text-align: center;
            padding: 8px 24px;
            transition:
                color 0.3s,
                opacity 0.3s;
            border-radius: 90px;
            border: 1px solid $gray-40;
            span {
                font-size: $font-size-xl;
                line-height: 32px;
                letter-spacing: -0.2px;
                font-weight: $font-weight-medium;
            }

            &.tab--active {
                background-color: $primary-80;
                border: 1px solid $primary-80;
                span {
                    color: $white;
                    font-weight: $font-weight-medium;
                }
            }
        }
    }
    .tab-train {
        display: block;
        position: absolute;
        top: 8rem;
        bottom: 8rem;
        left: 8rem;
        min-width: 134rem;
        background: #fff;
        border-radius: 100px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-l;
        width: 100%;
        justify-content: space-between;
        color: #1e1e1e;
        font-weight: $font-weight-bold;
    }
    li {
        height: 265px;
        border-radius: 10px;
        flex: 1 1 calc(25% - 20px);
        margin-bottom: 80px;
        a:hover {
            .thumb_box img {
                scale: 110%;
            }
            .desc_box p {
                color: #005eff;
                text-decoration: none;
            }
        }
    }
    .thumb_box {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: block;
        position: relative;
        overflow: hidden;
    }
    .thumb_box img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: absolute;
        object-fit: cover;
        transition: scale 400ms;
    }
    .desc_box {
        p {
            margin-top: 20px;
        }
        span {
            margin-top: 12px;
            color: #aaa;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
        }
    }
    .btn-container {
        @include flexCenter;
    }
    .btn {
        &:hover {
            background-color: #f5f5f5;
            color: #000;
            border: #f5f5f5 1px solid;
        }
    }
}

@media (max-width: 1200px) {
    .sec-type3 {
        ul {
            li {
                height: 325px;
                flex: 1 1 calc(50% - 16px);
                margin-bottom: 90px;
                a:hover {
                    .thumb_box img {
                        scale: 100%;
                    }
                }
            }
        }
        .btn-container {
            a {
                margin: 0;
            }
        }
    }
}

@media (max-width: 745px) {
    .sec-type3 {
        .sec-title {
            font-size: 24px;
        }
        .sub_title {
            display: block;
            margin-bottom: 24px;
            font-size: 18px;
        }

        ul {
            li {
                flex: 1 1 100%;
            }
        }

        .tab-list {
            display: none;
        }
    }
}

//********Footer************
// *****************************
footer {
    background: #f9f9f9;

    .footer_cont {
        margin: 0 auto 50px;
        max-width: 1476px;
        position: relative;
        padding: 50px 90px;

        &.mo-foot {
            display: none;
        }

        .footer_left {
            width: calc(100% - 156px);
            float: left;
            text-align: left;

            img {
                width: 200px;
            }

            .copyright_txt {
                margin: 20px 0 24px;

                p {
                    font-size: 12px;
                    line-height: 20px;
                    color: #999;
                    font-weight: 700;

                    &.en {
                        margin-top: 4px;
                        font-size: 14px;
                        letter-spacing: 0;
                    }
                }
            }

            .link_txt {
                a {
                    font-size: 14px;
                    line-height: 1;
                    color: #999;
                    display: inline-block;
                    margin-left: 20px;
                    font-weight: 700;
                    transition: 0.3s;

                    &:hover {
                        color: #117ce9;
                    }

                    &:first-child {
                        margin: 0;
                    }
                }

                display: inline-block;
                margin-right: 9%;
                margin-bottom: 10px;
            }

            .link_social {
                display: inline-block;

                ul li {
                    display: inline-block;
                    margin-left: 24px;
                    text-align: right;

                    &:first-child {
                        margin: 0;
                    }

                    a {
                        display: block;
                        font-size: 14px;
                        line-height: 1;
                        color: #aaa;
                        display: inline-block;
                        font-weight: 700;
                        transition: 0.3s;

                        &:hover {
                            color: #117ce9;
                        }
                    }
                }
            }
        }

        .footer_right {
            width: auto;
            float: right;
            text-align: right;

            .famliy_site {
                display: inline-block;
                margin-top: -9px;
                position: relative;

                button {
                    position: relative;
                    height: 40px;
                    line-height: 40px;
                    background: #999;
                    display: inline-block;
                    padding: 0 14px;
                    font-size: 13px;
                    font-weight: 700;
                    color: #fff;
                    border-radius: 5px;
                    transition: 0.3s;

                    &:hover {
                        background: #000;
                    }

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        position: absolute;
                        top: 13px;
                        right: 14px;

                        transition: 0.3s;
                    }
                }

                ul {
                    display: none;
                    padding: 8px 0;
                    width: 100%;
                    position: absolute;
                    bottom: 48px;
                    text-align: left;
                    border: 1px solid #eee;
                    border-radius: 4px;
                    background-color: #fff;

                    li {
                        position: relative;
                        padding: 6px 14px;

                        a {
                            display: block;
                            font-size: 13px;
                            font-weight: 700;
                            letter-spacing: -0.3px;
                            color: #1e1e1e;
                            transition: 0.3s;

                            &:hover {
                                color: #117ce9;
                            }

                            &::after {
                                content: '';
                                display: block;
                                width: 24px;
                                height: 24px;
                                position: absolute;
                                top: 0;
                                right: 10px;
                                background: url('/static/images/outlink_icon.png') no-repeat center;
                                background-size: cover;
                                transition: 0.3s;
                                opacity: 0;
                            }

                            &:hover::after {
                                opacity: 1;
                            }
                        }
                    }
                }

                &.on button {
                    background: #1e1e1e;

                    &::after {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    // Mobile
    .footer_cont.mo-foot {
        .logo {
            width: 288px;
        }

        .copyright_txt {
            p {
                font-size: 12px;
                color: #999;
            }

            &.top {
                margin-bottom: 20px;

                p {
                    font-weight: 700;
                    letter-spacing: 0px;
                }

                &.pc p {
                    display: none;
                }

                &.mo p {
                    margin-top: 5px;
                    font-weight: 500;
                    letter-spacing: 0px;

                    &.en {
                        font-size: 14px;
                    }
                }
            }
        }

        .link_social {
            margin-bottom: 22px;

            ul li {
                display: none;

                a {
                    display: block;
                    width: 48px;
                    height: 48px;
                    color: transparent;
                    text-indent: -9999px;
                    overflow: hidden;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }

        .family_site {
            margin-bottom: 22px;
            display: block;
            position: relative;

            button {
                position: relative;
                width: 100%;
                height: 40px;
                line-height: 40px;
                background: #999;
                display: inline-block;
                padding: 0 42px 0 14px;
                text-align: left;
                font-size: 14px;
                font-weight: 700;
                color: #fff;
                border-radius: 5px;
                transition: 0.3s;
                letter-spacing: -0.3px;

                &::after {
                    content: '\f067';
                    font-family: 'Line Awesome Free';
                    font-weight: 900;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    top: 0;
                    right: 14px;
                    color: #fff;
                    transition: 0.3s;
                }
            }

            &.on {
                button {
                    background: #1e1e1e;

                    &::after {
                        transform: rotate(45deg);
                    }
                }

                ul {
                    display: none;
                    padding: 8px 0;
                    width: 100%;
                    position: absolute;
                    bottom: 48px;
                    text-align: left;
                    border: 1px solid #eee;
                    border-radius: 4px;
                    background-color: #fff;

                    li {
                        padding: 6px 14px;
                        position: relative;

                        a {
                            font-size: 13px;
                            font-weight: 700;
                            letter-spacing: -0.3px;
                            color: #1e1e1e;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        .link_txt {
            margin-bottom: 22px;

            a {
                display: inline-block;
                margin-right: 20px;
                font-size: 12px;
                font-weight: 700;
                color: #666;

                &:nth-of-type(2) {
                    margin-right: 0;
                }

                i {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url('/static/images/mo_right_arrow.png') no-repeat center;
                    background-size: cover;
                }
            }
        }

        .copyright_txt.bottom {
            p {
                line-height: 1.6;
                letter-spacing: -0.3px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                b {
                    font-size: 12px;
                    font-weight: 700;
                    color: #999;
                }
            }
        }
    }
}

@media only screen and (max-width: 1088px) {
    footer {
        .footer_cont.pc-foot {
            display: none;
        }

        .footer_cont.mo-foot {
            display: block;
        }
    }
}

@media only screen and (max-width: 1024px) {
    footer {
        .footer_cont {
            padding: 50px 30px;
            margin: 0 auto;
        }
    }
}
@media only screen and (max-width: 744px) {
    footer {
        .footer_cont.mo-foot {
            padding: 35px 24px 24px;
            // .copyright_txt.top.mo {
            //     margin-bottom: 0;
            //     display: block;
            // }
        }
    }
}
//********Top Button************
.top {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 10;
    transition: 0.4s all ease;

    .btn-top {
        position: relative;
        pointer-events: all;
        width: 56px;
        height: 56px;
        margin-top: 8px;
        font-size: 0;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 28px;
        border-radius: 50%;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
        opacity: 1;
        transition-property: width, height, margin, background-position, opacity;
        transition-duration: 0.4s;
        transition-timing-function: var(--cubic-bezier-primary);
        .hide-txt {
            display: none;
        }
    }

    .btn-top:focus,
    .btn-top:hover {
        background-position: 50% 60%;
        transition: all 0s;
    }

    .btn-top {
        background-image: url(/project-unileverkorea/assets/images/icon_scroll_btn_top.png);
    }
}
@media (min-width: 744px) and (max-width: 1024px) {
    .top {
        button {
            background-size: 24px;
        }
    }
}
