// slide-intro
@keyframes mainScroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
.slide-intro {
    position: relative;
    .swiper-slide {
        position: relative;
        &.swiper-slide-active {
            .slide-txt {
                transform: translate(-50%, -50%);
                opacity: 1;
            }
        }
    }
    .slide-txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0;
        transition: all 0.8s;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        color: $white;

        span {
            padding: 3px 10px;
            font-size: 0.875rem;
            background: $primary-50;
        }
        strong {
            display: block;
            margin: 10px 0 15px;
            font-size: 2.3rem;
            line-height: 1.2;
        }
    }
    .swiper-button-pause {
        display: none;
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 10;
        background: #000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    picture {
        position: relative;
        width: 100%;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
        }
    }
    img {
        height: 100vh;
    }

    // arrow
    .swiper-button-prev,
    .swiper-button-next {
        top: auto;
        left: 50%;
        bottom: 90px;
        &:hover {
            &::before {
                color: $secondary-50;
            }
        }
        &::before {
            font-family: 'Line Awesome Free';
            font-weight: 900;
            font-size: 3rem;
        }
        &::after {
            display: none;
        }
    }
    .swiper-button-prev {
        transform: translateX(-635px);
        &::before {
            content: '\f060';
        }
    }
    .swiper-button-next {
        transform: translateX(-570px);
        &::before {
            content: '\f061';
        }
    }
    // pagination
    .swiper-pagination {
        width: 70px;
        top: auto;
        left: 50%;
        bottom: 86px;
        transform: translateX(-500px);
        color: $white;
        font-size: 1.2rem;
        span {
            font-weight: bold;
        }
    }
    .scrolling {
        position: absolute;
        bottom: 0;
        right: 100px;
        z-index: 10;
        color: white;
        transform-origin: right bottom;
        transform: rotate(90deg);
        line-height: 1;
        display: flex;
        align-items: center;
        font-size: 14px;
        .gage {
            width: 80px;
            height: 2px;
            position: relative;
            background-color: rgba(255, 255, 255, 0.7);
            margin-left: 10px;
            overflow: hidden;
            .gage_bar {
                position: absolute;
                top: 0;
                left: -50%;
                width: 50%;
                height: 100%;
                background-color: white;
                animation: mainScroll 1s infinite linear;
            }
        }
    }
}
@media screen and (min-width: $breakpoint-xl) {
    .slide-intro {
        .swiper-button-pause {
            display: block;
        }
        .slide-txt {
            width: 100%;
            text-align: center;
            span {
                font-size: 1.2rem;
            }
            strong {
                margin-bottom: 30px;
                font-size: 4rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
        img {
            height: 820px;
        }
        .scrolling {
            right: 60px;
        }
    }
}
/* *************************************** */
/* Video */
/* *************************************** */
.video {
    filter: brightness(90%);
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .scrolling {
        position: absolute;
        bottom: 0;
        right: 100px;
        z-index: 10;
        color: white;
        transform-origin: right bottom;
        transform: rotate(90deg);
        line-height: 1;
        display: flex;
        align-items: center;
        font-size: 14px;
        .gage {
            width: 80px;
            height: 2px;
            position: relative;
            background-color: rgba(255, 255, 255, 0.7);
            margin-left: 10px;
            overflow: hidden;
            .gage_bar {
                position: absolute;
                top: 0;
                left: -50%;
                width: 50%;
                height: 100%;
                background-color: white;
                animation: mainScroll 1s infinite linear;
            }
        }
    }
}
.video-brand {
    padding: 90px 0;
}
video {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.video-brand > video {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 100%;
}
// main
.container-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sub_title {
        font-size: $font-size-xxl;
        line-height: $line-height-l;
        letter-spacing: $letter-spacing-subtitle;
        font-weight: $font-weight-medium;
        text-align: center;
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 70%;
    background: url(https://mjsparkflux.github.io/project-unileverkorea/assets/images/best-friends-having-beauty-treatment-home.jpg)
        no-repeat center center / cover fixed;
    text-align: center;
    font-size: $font-size-title;
    font-weight: bold;
    color: #fff;
    margin: 32px auto;
    border-radius: 10px;

    @media screen and (max-width: 1024px) {
        width: 100%;
        border-radius: 0;
        background-position: center;
    }
}

#logos {
    height: 100vh;
    padding: 0;
    background: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;

    .text {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 10;

        p {
            font-size: 1.8rem;
            font-weight: 400;
            color: #000;

            &:not(:first-of-type) {
                margin-top: 15px;
            }
        }
    }

    .text1 {
        transform: translateY(-50%);
    }

    .text2 {
        transform: translateY(150%);
        // top: calc(50% + 78px);
    }

    .cover {
        width: 100%;
        height: 100%;
        background: #0d47a1;
        clip-path: circle(17% at 50% 140%);
    }
}
#animation {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    background-color: #fff;
}
//********Swiper************
// *************************
.sec-eft {
    overflow: hidden;
}
.slide-eft {
    position: relative;
    .swiper {
        overflow: visible;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 48px;
        &:hover {
            .swiper-button-next,
            .swiper-button-prev {
                opacity: 1;
            }
        }
        .swiper-wrapper {
            .swiper-slide {
                height: 340px;
                background: $gray-5;
                border-radius: 20px;
                overflow: hidden;
            }
        }
    }

    .new_brand_link {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 10px;
        &:hover,
        &:focus {
            img {
                transform: translate(-50%, -50%) scale(1.125);
            }
        }
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            transform: translate(-50%, -50%);
            transition: all 0.25s ease-out;
        }
        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            display: block;
            width: 100%;
            height: 120px;
            border-radius: 10px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 84.58%);
            mix-blend-mode: darken;
            transform: rotate(-180deg);
            z-index: 1;
        }
    }
    .new_brand_name {
        position: absolute;
        left: 50%;
        bottom: 24px;
        transform: translateX(-50%);
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        width: max-content;
        z-index: 10;
    }
    .swiper-button-prev,
    .swiper-button-next {
        @include flexCenter;
        width: 80px;
        height: 80px;
        margin: 0;
        opacity: 0;
        color: #fff;
        transform: translateY(-50%);
        transition: opacity 0.3s;
        &::after {
            transform: scale(0.8);
        }
    }

    .swiper-button-prev {
        left: -100px;
    }
    .swiper-button-next {
        right: -100px;
    }
}
.sec-content {
    position: relative;
}

.sec-type1 {
    .sec-content {
        .swiper {
            margin-top: $spacing-xl;
        }
    }
}

.sec-eft {
    overflow: hidden;

    .new_brand_category {
        position: relative;
        width: 100%;
        height: 40px;
        overflow: hidden;
        display: inline-flex;

        &:hover {
            .new_brand_category_text {
                transform: translateY(-100%);
            }
            .new_brand_category_text.type_desc {
                transform: translateY(0);
            }

            .new_brand_category_text {
                display: flex;
                align-items: center;
                font-size: 28px;
                font-weight: 600;
                line-height: 28px;
                color: #333;
                transition:
                    transform 0.3s ease-in-out,
                    opacity 0.2s ease-in-out;
            }
        }

        .icon {
            margin-left: 10px;
            color: #888;
            transition: all 0.2s ease-out;
            display: flex;
            text-align: center;
            justify-content: center;
        }

        .new_brand_category_text {
            display: flex;
            align-items: center;
            font-size: 28px;
            font-weight: 500;
            line-height: 140%;
            color: #333;
            z-index: 2;
            transition:
                transform 0.3s ease-in-out,
                opacity 0.2s ease-in-out;
        }

        .new_brand_category_text.type_desc {
            position: absolute;
            z-index: 1;
            transform: translateY(100%);
            color: #1f36c7;
        }
    }

    .slide-eft {
        position: relative;

        .swiper {
            overflow: visible;
            width: 100%;
            margin: 0;
            margin-top: 48px;

            &:hover {
                .swiper-button-next,
                .swiper-button-prev {
                    opacity: 1;
                }
            }

            .swiper-wrapper {
                .swiper-slide {
                    height: 340px;
                    background: $gray-5;
                    border-radius: 10px;
                    overflow: hidden;
                }
            }
        }

        .new_brand_link {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 10px;

            &:hover,
            &:focus {
                img {
                    transform: translate(-50%, -50%) scale(1.125);
                }
            }

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                transform: translate(-50%, -50%);
                transition: all 0.25s ease-out;
            }

            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                display: block;
                width: 100%;
                height: 120px;
                border-radius: 10px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 84.58%);
                mix-blend-mode: darken;
                transform: rotate(-180deg);
                z-index: 1;
            }
        }

        .new_brand_name {
            position: absolute;
            left: 50%;
            bottom: 24px;
            transform: translateX(-50%);
            font-size: 24px;
            line-height: 24px;
            color: #fff;
            width: max-content;
            z-index: 10;
        }

        .swiper-button-prev,
        .swiper-button-next {
            @include flexCenter;
            width: 80px;
            height: 80px;
            margin: 0;
            opacity: 0;
            color: #fff;
            transform: translateY(-50%);
            transition: opacity 0.3s;

            &::after {
                transform: scale(0.8);
            }
        }

        .swiper-button-prev {
            left: -100px;
        }

        .swiper-button-next {
            right: -100px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .sec-eft {
        .slide-eft {
            .swiper {
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .sec-eft {
        .slide-eft {
            .swiper {
                width: 60%;
                .swiper-wrapper {
                    .swiper-slide {
                        height: 260px;
                        background: $gray-5;
                        border-radius: 20px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 745px) {
    .sec-eft {
        .slide-eft {
            .swiper {
                width: 40%;
                .swiper-wrapper {
                    .swiper-slide {
                        height: 250px;
                        background: $gray-5;
                        border-radius: 20px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .sec-eft {
        .slide-eft {
            .swiper {
                width: 65%;
                swiper-wrapper {
                    .swiper-slide {
                        height: 126px;
                        background: $gray-5;
                        border-radius: 20px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

//********Section - ESG-Business*****
//***********************************
.business {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    .section_inner {
        padding: 90px 0;
        width: calc(100% - 120px);
        max-width: 1200px;
    }
    .title_area {
        margin-bottom: 42px;
    }
    .content_area {
        display: flex;
        position: relative;
    }

    .business-list {
        width: 403px;
        ul {
            margin: 58px 0;
            width: 350px;
            li {
                list-style: none;
                font-size: 20px;
                margin-bottom: 19px;

                a {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    height: 60px;
                    font-family: inherit;
                    &::before {
                        content: '';
                        display: block;
                        width: 60px;
                        height: 60px;
                        margin-right: 20px;
                        border-radius: 60px;
                        background-repeat: no-repeat;
                        background-size: 50%;
                        background-color: #f8f8f8;
                        background-position: center;
                        border: 1px solid #f8f8f8;
                        position: absolute;
                        transition: 0.5s;
                    }
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 0;
                        height: 1px;
                        margin-left: 27px;
                        background: #665852;
                        vertical-align: super;
                    }
                    span {
                        display: block;
                        margin-left: 80px;
                    }
                    &:hover::before,
                    &.active::before {
                        background-color: #f8f8f8;
                        background-position: center;
                        background-size: 50%;
                        border: 1px solid #665852;
                    }
                }
                &.busi01 a::before {
                    background-image: url('https://mjsparkflux.github.io/project-unileverkorea/assets/images/leaf-outline.png');
                }
                &.busi02 a::before {
                    background-image: url('https://mjsparkflux.github.io/project-unileverkorea/assets/images/people-outline.png');
                }
                &.busi03 a::before {
                    background-image: url('https://mjsparkflux.github.io/project-unileverkorea/assets/images/eye-outline.png');
                }
                &.active a::after {
                    width: 135px;
                    transition: 0.5s;
                }
            }
        }
    }

    ul li a:hover::before,
    ul li.active a::before {
        background-image: url('https://mjsparkflux.github.io/project-unileverkorea/assets/images/leaf-outline.png');
        transition: 0.5s;
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: #f8f8f8;
        background-position: center;
    }

    ul {
        li.active {
            a::before {
                border: 1px solid #665852;
            }
        }
    }

    ul li.busi01 a:hover::before,
    ul li.busi01.active a::before {
        background-image: url('https://mjsparkflux.github.io/project-unileverkorea/assets/images/leaf-outline.png');
    }

    ul li.busi02 a:hover::before,
    ul li.busi02.active a::before {
        background-image: url('https://mjsparkflux.github.io/project-unileverkorea/assets/images/people-outline.png');
    }

    ul li.busi03 a:hover::before,
    ul li.busi03.active a::before {
        background-image: url('https://mjsparkflux.github.io/project-unileverkorea/assets/images/eye-outline.png');
    }

    ul li.active a::after {
        width: 135px;
        transition: 0.5s;
    }

    .busiSwiper {
        width: 100%;
        .img_area {
            width: 520px;
            height: 480px;
        }
        .txt_area {
            text-align: left;
            line-height: 27px;
            width: calc(50% - 96px);
            margin-left: 96px;
            position: relative;
            opacity: 0;
            .tit {
                font-size: 24px;
                font-weight: 600;
                line-height: 140%;
                margin-bottom: 16px;
                font-family: inherit;
            }
            .desc {
                font-size: 18px;
                line-height: 150%;
                letter-spacing: -0.5px;
                margin-bottom: 154px;
                font-family: inherit;
            }
            .more {
                &::before {
                    content: '';
                    text-decoration: none;
                    position: absolute;
                    bottom: 10px;
                    background: url('https://mjsparkflux.github.io/project-unileverkorea/assets/images/btn_more.png')
                        no-repeat center;
                    width: 60px;
                    height: 60px;
                    background-size: contain;
                }
            }
        }

        .swiper-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            transition-property: transform;
            transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
            box-sizing: content-box;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #f8f8f8;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50px 120px 50px 50px;
            }
        }
        .swiper-slide-active .txt_area {
            animation: menuAni 1s;
            opacity: 1;
            margin-top: 58px;
            height: 422px;
        }
    }

    .btn_area {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        width: 100%;
        a.btn {
            background-repeat: no-repeat;
            background-size: contain;
            text-indent: -99999px;
            font-size: 0;
            display: inline-block;

            width: 20px;
            height: 20px;
            cursor: pointer;
            position: absolute;
            right: 0;
            bottom: 0;
            left: auto;
            border: none;
            padding: 0;
            margin: 0;
        }
        .swiper-pagination-busi {
            width: 105px;
            margin: 0 0 0 0;
            position: relative;
            .swiper-pagination-bullet {
                width: 15px;
                height: 15px;
                margin: 0 10px;
                background: #aaa;
                &-active {
                    background: #333;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    section.business .business-list .mo {
        display: none;
    }
    .swiper-button-next.m-show,
    .swiper-button-prev.m-show {
        display: none !important;
    }
    .m-show,
    .mo-show {
        display: none !important;
    }
    .pc-show {
        display: inline-block;
    }
}
@media (max-width: 1200px) {
    .m-show {
        display: block;
    }

    .pc-show {
        display: none !important;
    }

    .header-area.fixed.show .two-depth-bg {
        display: none;
    }

    section.business {
        width: 100%;
        height: auto;
        margin: 4.8125vw auto;
        .title_area {
            h2 {
                text-align: center;
                font-size: 40px;
                font-weight: 700;
            }
            span {
                display: block;
                font-size: 24px;
                text-align: center;
            }
        }
    }

    .slide-area {
        .bg {
            display: none;
        }

        .title-area {
            color: #fff;
            position: absolute;
            top: 35vh;
            left: 10vw;
            text-shadow: #000 0 0 10px;
            width: calc(100% - 20vw);
            height: 27vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2.main-tit {
                font-size: 46px;
                margin-bottom: 0.5em;
            }
            p.sub-tit {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0;
            }
        }
    }

    .swiper-pagination2 {
        ul {
            width: 86%;
            margin: 0 7% 35px;
            li {
                position: relative;
                a {
                    font-size: 15px;
                    color: #fff;
                    cursor: pointer;
                    letter-spacing: 0;
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                }
                &::before {
                    display: none;
                }
                span {
                    padding-left: 0;
                }
            }
        }

        .main_slide_handler {
            display: block;
            position: relative;
            width: 120px;
            margin: 0 auto;
            a.slide_btn {
                position: absolute;
                left: calc(50% - 16px);
                top: calc(50% - 28px);
            }

            .swiper-button-next,
            .swiper-button-prev,
            .swiper-button-next::after,
            .swiper-button-prev::after {
                font-size: 14px;
                color: #fff;
                background: none;
                font-weight: bold;
                width: auto;
            }
        }
    }

    section.business {
        .busiSwiper,
        .btn_area {
            display: none;
        }

        .business-list {
            width: 100%;
            .mo {
                display: block;
            }

            .img_area img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 10px;
            }

            ul {
                width: auto;
                margin: 0;
                li {
                    margin-bottom: 32px;
                    a {
                        cursor: pointer;
                        font-size: 20px;
                        background: #ffffff;
                        border-radius: 5px;
                        padding: 20px 0;
                        align-items: center;
                        justify-content: center;
                        &::after,
                        &::before {
                            display: none;
                        }

                        span {
                            margin: 0;
                        }
                    }
                }
            }

            .mo.txt_area {
                text-align: center;
                margin-bottom: 20px;
                .tit {
                    font-size: 24px;
                    line-height: 36px;
                    margin: 14px 0;
                }
                .sub_tit {
                    font-size: 18px;
                    line-height: 150%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/* Responsive styles for tablets (744px) */
@media (max-width: 744px) {
    .business {
        flex-direction: column;
        .section_inner {
            width: calc(100% - 120px);
            padding: 80px 0;
        }
        .title_area {
            margin-bottom: 20px;
            text-align: center;
        }
        .content_area {
            flex-direction: column;
            align-items: center;
        }
        .business-list {
            width: 100%;
            ul {
                width: 100%;
                margin: 30px 0;
                li {
                    font-size: 18px;
                    margin-bottom: 15px;
                    a {
                        height: 50px;
                        &::before {
                            width: 50px;
                            height: 50px;
                            margin-right: 10px;
                        }
                        span {
                            margin-left: 60px;
                        }
                    }
                }
            }

            .busiSwiper {
                width: 100%;
                .img_area {
                    width: 100%;
                    height: auto;
                }
                .txt_area {
                    width: 100%;
                    margin-left: 0;
                    text-align: center;
                    .tit {
                        font-size: 20px;
                    }
                    .desc {
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
/* Responsive styles for phones (430px) */
@media (max-width: 430px) {
    .business {
        flex-direction: column;
        .section_inner {
            width: 100%;
            padding: 0 10px;
        }
        .title_area {
            margin-bottom: 15px;
            text-align: center;
        }
        .content_area {
            flex-direction: column;
            align-items: center;
        }
        .business-list {
            width: 100%;
            ul {
                width: 100%;
                margin: 20px 0;
                li {
                    font-size: 16px;
                    margin-bottom: 10px;
                    a {
                        height: 40px;
                        &::before {
                            width: 40px;
                            height: 40px;
                            margin-right: 5px;
                        }
                        span {
                            margin-left: 50px;
                        }
                    }
                }
            }
        }
        .busiSwiper {
            width: 100%;
            .img_area {
                width: 100%;
                height: auto;
            }
            .txt_area {
                width: 100%;
                margin-left: 0;
                text-align: center;
                .tit {
                    font-size: 18px;
                }
                .desc {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
//********Notice Banner*********
// *******************************
.notice_banner {
    display: flex;
    gap: 32px;
    width: 100%;
    animation: 1.2s movetop ease-out forwards;
    animation-delay: 1.2s;
    margin-top: 120px;
}
.notice_item {
    display: inline-block;
    width: calc(50% - 16px);
    height: 100%;
    border-radius: 12px;
    padding: 38.5px 28px 40px 20px;
    position: relative;
    background: #117ce9;
    &:nth-child(2) {
        margin: 0;
        background: #0d47a1;
    }
    a {
        position: absolute;
        bottom: 27px;
        right: 29px;
        line-height: 48px;
        padding: 0 33px;
        display: inline-block;
        color: #fff;
        background: #1e1e1e;
        border-radius: 100px;
        border: 1px solid #1e1e1e;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        transition: 0.3s;
        &:hover {
            background-color: #fff;
            color: #1e1e1e;
        }
    }
}
.notice_item p {
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -1px;
    margin: 0;
}

@media (max-width: 1200px) {
    .sec-type3 {
        .container {
            padding: 120px 30px 80px;
        }
    }

    .notice_item {
        padding: 20px 28px 25px 24px;

        a {
            margin-top: 15px;
            position: relative;
            bottom: auto;
            right: auto;
            padding: 0px 33px 0px 33px;
            display: inline-block;
            line-height: 48px;
            color: #fff;
            background: #1e1e1e;
            border-radius: 100px;
            text-align: center;
            font-size: 15px;
            font-weight: 700;
            transition: 0.3s;
        }
    }
}

@media (max-width: 790px) {
    .notice_banner {
        display: flex;
        flex-direction: column;
    }
    .notice_item {
        display: inline-block;
        margin-right: 0;
        margin-bottom: 16px;
        width: 100%;
        border-radius: 12px;
        padding: 20px 28px 25px 24px;
        position: relative;
        p {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -1px;
            color: #fff;
        }
        a {
            font-size: 14px;
            padding: 0 33px 0 33px;
        }
    }
}
