@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li,
a {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 17px;
  line-height: 1.5;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
}

/* desktop */
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #1d1d1d;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  a {
    color: #333;
    text-decoration: none;
  }
  a:active, a:hover {
    text-decoration: none;
  }
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

:root {
  --swiper-theme-color: #fff;
}

.container {
  width: 100%;
  padding: 0 20px;
  transition: all 0.3s;
}

@media screen and (min-width: 744px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 30px;
  }
}
.bg-grey {
  background: #f8f8f8;
}

.sec-g {
  padding: 30px 0;
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  padding: 0 32px;
  color: #444;
  border-radius: 100px;
  text-align: center;
  border: 1px solid #444;
  font-size: 14px;
  white-space: nowrap;
  transition: 0.3s;
  background-color: transparent;
  font-weight: 500;
  margin-top: 46px;
}

.btn svg {
  width: 16px;
  height: 16px;
  stroke: #444;
  margin-left: 5px;
  text-align: center;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

@media screen and (min-width: 1280px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}
#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.05);
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #logo a {
  display: flex;
  align-items: center;
  height: 80px;
  width: 80px;
  font-size: 1.4rem;
  color: #fff;
}
#header #gnb {
  display: flex;
}
#header #gnb .label-menu {
  position: relative;
  z-index: 1000;
}
#header #gnb .label-menu .bar {
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 5px 0;
  border-radius: 3px;
  transition: all 0.3s;
}
#header #gnb #btnMenu:checked + .label-menu .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
  background: #000;
}
#header #gnb #btnMenu:checked + .label-menu .bar:nth-child(2) {
  opacity: 0;
}
#header #gnb #btnMenu:checked + .label-menu .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  background: #000;
}
#header #gnb #btnMenu:checked ~ .menu-wrap {
  left: 0;
}
#header #gnb .menu-wrap {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  z-index: 999;
  padding: 20px;
  background: #fff;
  transition: all 0.3s;
}
#header #gnb .m-util {
  display: flex;
  gap: 5px;
  padding: 0;
}
#header #gnb .m-util a {
  display: flex;
  align-items: center;
  padding: 7px 20px 5px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  color: #444444;
}
#header #gnb .m-util a.active {
  background: #246beb;
  border: 1px solid #246beb;
  color: #fff;
}
#header #gnb .top-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
#header #gnb .top-menu dl {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background: rgba(0, 94, 255, 0.05);
  border-radius: 5px;
}
#header #gnb .top-menu dl.active dt a {
  color: #246beb;
  font-weight: 700;
}
#header #gnb .top-menu dl.active dt a::after {
  content: "\f068";
}
#header #gnb .top-menu dl.active dd {
  display: flex;
  padding-bottom: 20px;
}
#header #gnb .top-menu dl dt a {
  position: relative;
  display: block;
  padding: 15px 0;
  font-size: 1.1875rem;
}
#header #gnb .top-menu dl dt a::after {
  content: "\f067";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-57%);
  font-family: "Line Awesome Free";
  font-weight: 900;
}
#header #gnb .top-menu dl dd {
  display: none;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.7s;
}
#header #gnb .top-menu dl dd a {
  position: relative;
  display: block;
  padding: 3px 0 3px 16px;
  color: #444444;
}
#header #gnb .top-menu dl dd a.active {
  color: #246beb;
}
#header #gnb .top-menu dl dd a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background: rgba(29, 29, 29, 0.5);
}
#header .util {
  display: none;
}

@media screen and (min-width: 1280px) {
  #header {
    position: fixed;
    background: #fff;
    transition: all 0.3s;
  }
  #header.theme-dark {
    background: rgba(0, 0, 0, 0.05);
  }
  #header.theme-dark #logo a,
  #header.theme-dark * {
    color: #fff;
  }
  #header.theme-dark .lang a {
    color: #c6c6c6;
  }
  #header.theme-dark .lang a.active {
    color: #fff;
  }
  #header.is__scroll {
    -webkit-backdrop-filter: saturate(180%) blur(15px);
            backdrop-filter: saturate(180%) blur(15px);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.07);
  }
  #header #logo a {
    color: #1d1d1d;
  }
  #header #gnb #btnMenu,
  #header #gnb .label-menu,
  #header #gnb .m-util {
    display: none;
  }
  #header #gnb .menu-wrap {
    overflow: visible;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    background: transparent;
  }
  #header #gnb .top-menu {
    flex-direction: row;
    margin-top: 0;
  }
  #header #gnb .top-menu dl {
    position: relative;
    padding: 0;
    background-color: transparent;
  }
  #header #gnb .top-menu dl.active dd {
    display: none;
  }
  #header #gnb .top-menu dl:hover dt a, #header #gnb .top-menu dl:focus-within dt a {
    color: #246beb;
    text-decoration: none;
  }
  #header #gnb .top-menu dl:hover dt a::before, #header #gnb .top-menu dl:focus-within dt a::before {
    width: 100%;
  }
  #header #gnb .top-menu dl:hover dd, #header #gnb .top-menu dl:focus-within dd {
    height: auto;
    max-height: 300px;
    padding: 10px 0 20px;
  }
  #header #gnb .top-menu dl dt {
    font-size: 1.2rem;
    font-weight: 400;
  }
  #header #gnb .top-menu dl dt a {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 40px;
  }
  #header #gnb .top-menu dl dt a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #246beb;
    transition: all 0.3s;
  }
  #header #gnb .top-menu dl dt a::after {
    display: none;
  }
  #header #gnb .top-menu dl dd {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    max-height: 0;
    transition: all 0.5s;
    background: #fff;
  }
  #header #gnb .top-menu dl dd a {
    padding: 7px 0;
    text-align: center;
  }
  #header .util {
    display: flex;
  }
  #header .lang {
    display: flex;
  }
  #header .lang a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    color: #8e8e8e;
  }
  #header .lang a.active {
    color: #1d1d1d;
  }
  #header .lang a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background: #c6c6c6;
    opacity: 0.5;
  }
  #header .lang a:first-child::before {
    display: none;
  }
  #header .search-area .btn-search {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 10px;
  }
  #header .search-area .btn-search i {
    font-size: 1.7rem;
    transform: scaleX(-1);
  }
  #header .search-area .layer-search {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
  #header .search-area .layer-search.fade-in {
    opacity: 1;
    visibility: visible;
  }
  #header .search-area .layer-search.fade-out {
    opacity: 0;
    visibility: hidden;
  }
  #header .search-area .search-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: #fff;
  }
  #header .search-area .search-box .form-search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 10px 0 30px;
    border: 2px solid #246beb;
    border-radius: 62px;
  }
  #header .search-area .search-box .inp-search {
    width: 600px;
    padding: 20px 0;
    border: none;
    background-color: transparent;
  }
  #header .search-area .search-box .inp-search:focus {
    outline: none;
  }
  #header .search-area .search-box .btn-submit {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #246beb;
    color: #fff;
    transform: scaleX(-1);
    font-size: 1.2rem;
  }
  #header .search-area .search-box .btn-close {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: #246beb;
  }
  #header .search-area .search-box .btn-close i {
    color: #fff;
    font-size: 2rem;
  }
}
#main {
  flex: 1;
}

.sec-type1,
.sec-type2,
.sec-type3 {
  margin: 120px 0;
}
.sec-type1 .sec-title,
.sec-type2 .sec-title,
.sec-type3 .sec-title {
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.5px;
  color: #000;
  text-align: left;
}
.sec-type1 .sub_title,
.sec-type2 .sub_title,
.sec-type3 .sub_title {
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-weight: 500;
}
.sec-type1 .pb-s,
.sec-type2 .pb-s,
.sec-type3 .pb-s {
  padding-bottom: 16px;
}
.sec-type1 .pb-l,
.sec-type2 .pb-l,
.sec-type3 .pb-l {
  padding-bottom: 48px;
}

@media screen and (min-width: 1280px) {
  .sec-type1,
  .sec-type2 {
    padding: 150px 0;
  }
}
.sec-type3 .tab-list {
  text-align: left;
}
.sec-type3 .tab-list-inner {
  position: relative;
  display: inline-flex;
  border-radius: 100px;
  background-color: #fff;
  color: #fff;
  margin: 48px 0;
  gap: 8px;
}
.sec-type3 .tab-list-inner a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 24px;
  transition: color 0.3s, opacity 0.3s;
  border-radius: 90px;
  border: 1px solid #c6c6c6;
}
.sec-type3 .tab-list-inner a span {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
  font-weight: 500;
}
.sec-type3 .tab-list-inner a.tab--active {
  background-color: #0e185a;
  border: 1px solid #0e185a;
}
.sec-type3 .tab-list-inner a.tab--active span {
  color: #fff;
  font-weight: 500;
}
.sec-type3 .tab-train {
  display: block;
  position: absolute;
  top: 8rem;
  bottom: 8rem;
  left: 8rem;
  min-width: 134rem;
  background: #fff;
  border-radius: 100px;
}
.sec-type3 ul {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  color: #1e1e1e;
  font-weight: 700;
  margin-bottom: 80px;
}
.sec-type3 li {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  height: 265px;
  border-radius: 10px;
}
.sec-type3 li a:hover .thumb_box img {
  scale: 110%;
}
.sec-type3 li a:hover .desc_box p {
  color: #005eff;
  text-decoration: none;
}
.sec-type3 .thumb_box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  position: relative;
  overflow: hidden;
}
.sec-type3 .thumb_box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  transition: scale 400ms;
}
.sec-type3 .desc_box p {
  margin-top: 20px;
}
.sec-type3 .desc_box span {
  margin-top: 12px;
  color: #aaa;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.sec-type3 .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-type3 .btn:hover {
  background-color: #f5f5f5;
  color: #000;
  border: #f5f5f5 1px solid;
}

footer {
  background: #f9f9f9;
}
footer .footer_cont {
  margin: 0 auto 50px;
  max-width: 1476px;
  position: relative;
  padding: 50px 90px;
}
footer .footer_cont.mo-foot {
  display: none;
}
footer .footer_cont .footer_left {
  width: calc(100% - 156px);
  float: left;
  text-align: left;
}
footer .footer_cont .footer_left img {
  width: 200px;
}
footer .footer_cont .footer_left .copyright_txt {
  margin: 20px 0 24px;
}
footer .footer_cont .footer_left .copyright_txt p {
  font-size: 12px;
  line-height: 20px;
  color: #999;
  font-weight: 700;
}
footer .footer_cont .footer_left .copyright_txt p.en {
  margin-top: 4px;
  font-size: 14px;
  letter-spacing: 0;
}
footer .footer_cont .footer_left .link_txt {
  display: inline-block;
  margin-right: 9%;
  margin-bottom: 10px;
}
footer .footer_cont .footer_left .link_txt a {
  font-size: 14px;
  line-height: 1;
  color: #999;
  display: inline-block;
  margin-left: 19px;
  font-weight: 700;
  transition: 0.3s;
}
footer .footer_cont .footer_left .link_txt a:hover {
  color: #117ce9;
}
footer .footer_cont .footer_left .link_txt a:first-child {
  margin: 0;
}
footer .footer_cont .footer_left .link_social {
  display: inline-block;
}
footer .footer_cont .footer_left .link_social ul li {
  display: inline-block;
  margin-left: 24px;
  text-align: right;
}
footer .footer_cont .footer_left .link_social ul li:first-child {
  margin: 0;
}
footer .footer_cont .footer_left .link_social ul li a {
  display: block;
  font-size: 14px;
  line-height: 1;
  color: #aaa;
  display: inline-block;
  font-weight: 700;
  transition: 0.3s;
}
footer .footer_cont .footer_left .link_social ul li a:hover {
  color: #117ce9;
}
footer .footer_cont .footer_right {
  width: auto;
  float: right;
  text-align: right;
}
footer .footer_cont .footer_right .famliy_site {
  display: inline-block;
  margin-top: -9px;
  position: relative;
}
footer .footer_cont .footer_right .famliy_site button {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #999;
  display: inline-block;
  padding: 0 42px 0 14px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
}
footer .footer_cont .footer_right .famliy_site button:hover {
  background: #000;
}
footer .footer_cont .footer_right .famliy_site button::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 13px;
  right: 14px;
  background: url("/static/images/footer_open.png") no-repeat center;
  background-size: cover;
  transition: 0.3s;
}
footer .footer_cont .footer_right .famliy_site ul {
  display: none;
  padding: 8px 0;
  width: 100%;
  position: absolute;
  bottom: 48px;
  text-align: left;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
}
footer .footer_cont .footer_right .famliy_site ul li {
  position: relative;
  padding: 6px 14px;
}
footer .footer_cont .footer_right .famliy_site ul li a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #1e1e1e;
  transition: 0.3s;
}
footer .footer_cont .footer_right .famliy_site ul li a:hover {
  color: #117ce9;
}
footer .footer_cont .footer_right .famliy_site ul li a::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 10px;
  background: url("/static/images/outlink_icon.png") no-repeat center;
  background-size: cover;
  transition: 0.3s;
  opacity: 0;
}
footer .footer_cont .footer_right .famliy_site ul li a:hover::after {
  opacity: 1;
}
footer .footer_cont .footer_right .famliy_site.on button {
  background: #1e1e1e;
}
footer .footer_cont .footer_right .famliy_site.on button::after {
  transform: rotate(45deg);
}

.top {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 10;
  transition: 0.4s all ease;
}
.top .btn-top {
  position: relative;
  pointer-events: all;
  width: 56px;
  height: 56px;
  margin-top: 8px;
  font-size: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 28px;
  border-radius: 50%;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  opacity: 1;
  transition-property: width, height, margin, background-position, opacity;
  transition-duration: 0.4s;
  transition-timing-function: var(--cubic-bezier-primary);
}
.top .btn-top .hide-txt {
  display: none;
}
.top .btn-top:focus,
.top .btn-top:hover {
  background-position: 50% 60%;
  transition: all 0s;
}
.top .btn-top {
  background-image: url(/assets/images/top_btn.svg);
}

@media (min-width: 744px) and (max-width: 1024px) {
  .top button {
    background-size: 24px;
  }
}
@keyframes mainScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.slide-intro {
  position: relative;
}
.slide-intro .swiper-slide {
  position: relative;
}
.slide-intro .swiper-slide.swiper-slide-active .slide-txt {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.slide-intro .slide-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 0.8s;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.slide-intro .slide-txt span {
  padding: 3px 10px;
  font-size: 0.875rem;
  background: #246beb;
}
.slide-intro .slide-txt strong {
  display: block;
  margin: 10px 0 15px;
  font-size: 2.3rem;
  line-height: 1.2;
}
.slide-intro .swiper-button-pause {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.slide-intro picture {
  position: relative;
  width: 100%;
}
.slide-intro picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.slide-intro img {
  height: 100vh;
}
.slide-intro .swiper-button-prev,
.slide-intro .swiper-button-next {
  top: auto;
  left: 50%;
  bottom: 90px;
}
.slide-intro .swiper-button-prev:hover::before,
.slide-intro .swiper-button-next:hover::before {
  color: #003675;
}
.slide-intro .swiper-button-prev::before,
.slide-intro .swiper-button-next::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}
.slide-intro .swiper-button-prev::after,
.slide-intro .swiper-button-next::after {
  display: none;
}
.slide-intro .swiper-button-prev {
  transform: translateX(-635px);
}
.slide-intro .swiper-button-prev::before {
  content: "\f060";
}
.slide-intro .swiper-button-next {
  transform: translateX(-570px);
}
.slide-intro .swiper-button-next::before {
  content: "\f061";
}
.slide-intro .swiper-pagination {
  width: 70px;
  top: auto;
  left: 50%;
  bottom: 86px;
  transform: translateX(-500px);
  color: #fff;
  font-size: 1.2rem;
}
.slide-intro .swiper-pagination span {
  font-weight: bold;
}
.slide-intro .scrolling {
  position: absolute;
  bottom: 0;
  right: 100px;
  z-index: 10;
  color: white;
  transform-origin: right bottom;
  transform: rotate(90deg);
  line-height: 1;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.slide-intro .scrolling .gage {
  width: 80px;
  height: 2px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 10px;
  overflow: hidden;
}
.slide-intro .scrolling .gage .gage_bar {
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: white;
  animation: mainScroll 1s infinite linear;
}

@media screen and (min-width: 1280px) {
  .slide-intro .swiper-button-pause {
    display: block;
  }
  .slide-intro .slide-txt {
    width: 100%;
    text-align: center;
  }
  .slide-intro .slide-txt span {
    font-size: 1.2rem;
  }
  .slide-intro .slide-txt strong {
    margin-bottom: 30px;
    font-size: 4rem;
  }
  .slide-intro .slide-txt p {
    font-size: 1.5rem;
  }
  .slide-intro img {
    height: 820px;
  }
  .slide-intro .scrolling {
    right: 60px;
  }
}
/* *************************************** */
/* Video */
/* *************************************** */
.video {
  filter: brightness(90%);
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-brand {
  padding: 90px 0;
}

video {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video-brand > video {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 100%;
}

.container-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-banner .sub_title {
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -0.5px;
  font-weight: 500;
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background: url(/assets/images/best-friends-having-beauty-treatment-home.jpg) no-repeat center center/cover fixed;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin: 20px auto;
  border-radius: 0;
}
@media screen and (min-width: 1024px) {
  .banner {
    width: 65%;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 20px;
  }
}

#logos {
  height: 100vh;
  padding: 0;
  background: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#logos .text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 10;
}
#logos .text p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
}
#logos .text p:not(:first-of-type) {
  margin-top: 15px;
}
#logos .text1 {
  transform: translateY(-50%);
}
#logos .text2 {
  transform: translateY(150%);
}
#logos .cover {
  width: 100%;
  height: 100%;
  background: #0d47a1;
  -webkit-clip-path: circle(17% at 50% 140%);
          clip-path: circle(17% at 50% 140%);
}

#animation {
  width: 100%;
  height: 300px; /* 애니메이션의 높이값 설정 */
  margin: 0 auto;
  background-color: #fff; /* 배경 색상 설정 (선택 사항) */
}

.sec-eft {
  overflow: hidden;
}

.slide-eft {
  position: relative;
}
.slide-eft .swiper {
  overflow: visible;
  width: 88%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 48px;
}
.slide-eft .swiper:hover .swiper-button-next,
.slide-eft .swiper:hover .swiper-button-prev {
  opacity: 1;
}
.slide-eft .swiper-slide {
  height: 340px;
  background: #f8f8f8;
  border-radius: 20px;
  overflow: hidden;
}
.slide-eft .new_brand_link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
}
.slide-eft .new_brand_link:hover img, .slide-eft .new_brand_link:focus img {
  transform: translate(-50%, -50%) scale(1.125);
}
.slide-eft .new_brand_link img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease-out;
}
.slide-eft .new_brand_link::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 84.58%);
  mix-blend-mode: darken;
  transform: rotate(-180deg);
  z-index: 1;
}
.slide-eft .new_brand_name {
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  width: -moz-max-content;
  width: max-content;
  z-index: 10;
}
.slide-eft .swiper-button-prev,
.slide-eft .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0;
  opacity: 0;
  color: #fff;
  transform: translateY(-50%);
  transition: opacity 0.3s;
}
.slide-eft .swiper-button-prev::after,
.slide-eft .swiper-button-next::after {
  transform: scale(0.8);
}
.slide-eft .swiper-button-prev {
  left: -100px;
}
.slide-eft .swiper-button-next {
  right: -100px;
}

.sec-content {
  position: relative;
}

@media screen and (min-width: 744px) {
  .slide-eft .swiper {
    width: 95%;
  }
}
@media screen and (min-width: 1280px) {
  .slide-eft .swiper {
    width: 100%;
  }
}
.sec-type1 .sec-content .swiper {
  margin-top: 24px;
}

.new_brand_category {
  position: relative;
  width: 100%;
  height: 40px;
  overflow: hidden;
  display: inline-flex;
}
.new_brand_category:hover .new_brand_category_text {
  transform: translateY(-100%);
}
.new_brand_category:hover .new_brand_category_text.type_desc {
  transform: translateY(0);
}
.new_brand_category:hover .new_brand_category_text {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  color: #333;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.new_brand_category .icon {
  margin-left: 10px;
  color: #888;
  transition: all 0.2s ease-out;
  display: flex;
  text-align: center;
  justify-content: center;
}
.new_brand_category .new_brand_category_text {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
  color: #333;
  z-index: 2;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.new_brand_category .new_brand_category_text.type_desc {
  position: absolute;
  z-index: 1;
  transform: translateY(100%);
  color: #1f36c7;
}

.business {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.business .section_inner {
  padding: 0 60px;
  width: calc(100% - 120px);
}
.business .title_area {
  margin-bottom: 42px;
}
.business .content_area {
  display: flex;
  position: relative;
}
.business .business-list {
  width: 403px;
}
.business .business-list ul {
  margin: 58px 0;
  width: 350px;
}
.business .business-list ul li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 19px;
}
.business .business-list ul li a {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 60px;
  font-family: inherit;
}
.business .business-list ul li a::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 60px;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: #f8f8f8;
  background-position: center;
  border: 1px solid #f8f8f8;
  position: absolute;
  transition: 0.5s;
}
.business .business-list ul li a::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  margin-left: 27px;
  background: #665852;
  vertical-align: super;
}
.business .business-list ul li a span {
  display: block;
  margin-left: 80px;
}
.business .business-list ul li a:hover::before, .business .business-list ul li a.active::before {
  background-color: #f8f8f8;
  background-position: center;
  background-size: 50%;
  border: 1px solid #665852;
}
.business .business-list ul li.busi01 a::before {
  background-image: url("/assets/images/leaf-outline.png");
}
.business .business-list ul li.busi02 a::before {
  background-image: url("/assets/images/people-outline.png");
}
.business .business-list ul li.busi03 a::before {
  background-image: url("/assets/images/eye-outline.png");
}
.business .business-list ul li.active a::after {
  width: 135px;
  transition: 0.5s;
}
.business ul li a:hover::before,
.business ul li.active a::before {
  background-image: url("/assets/images/leaf-outline.png");
  transition: 0.5s;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: #f8f8f8;
  background-position: center;
}
.business ul li.active a::before {
  border: 1px solid #665852;
}
.business ul li.busi01 a:hover::before,
.business ul li.busi01.active a::before {
  background-image: url("/assets/images/leaf-outline.png");
}
.business ul li.busi02 a:hover::before,
.business ul li.busi02.active a::before {
  background-image: url("/assets/images/people-outline.png");
}
.business ul li.busi03 a:hover::before,
.business ul li.busi03.active a::before {
  background-image: url("/assets/images/eye-outline.png");
}
.business ul li.active a::after {
  width: 135px;
  transition: 0.5s;
}
.business .busiSwiper {
  width: 70%;
}
.business .busiSwiper .img_area {
  width: 520px;
  height: 480px;
}
.business .busiSwiper .txt_area {
  text-align: left;
  line-height: 27px;
  width: calc(50% - 96px);
  margin-left: 96px;
  position: relative;
  opacity: 0;
}
.business .busiSwiper .txt_area .tit {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 16px;
  font-family: inherit;
}
.business .busiSwiper .txt_area .desc {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.5px;
  margin-bottom: 154px;
  font-family: inherit;
}
.business .busiSwiper .txt_area .more::before {
  content: "";
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  background: url("/assets/images/btn_more.png") no-repeat center;
  width: 60px;
  height: 60px;
  background-size: contain;
}
.business .busiSwiper .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}
.business .busiSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.business .busiSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px 110px 50px 50px;
}
.business .busiSwiper .swiper-slide-active .txt_area {
  animation: menuAni 1s;
  opacity: 1;
  margin-top: 58px;
  height: 422px;
}
.business .btn_area {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
}
.business .btn_area a.btn {
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -99999px;
  font-size: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  left: auto;
  border: none;
  padding: 0;
  margin: 0;
}
.business .btn_area .swiper-pagination-busi {
  width: 105px;
  margin: 0 0 0 0;
  position: relative;
}
.business .btn_area .swiper-pagination-busi .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  background: #aaa;
}
.business .btn_area .swiper-pagination-busi .swiper-pagination-bullet-active {
  background: #333;
}

@media (min-width: 1023px) {
  section.business .business-list .mo {
    display: none;
  }
  .swiper-button-next.m-show,
  .swiper-button-prev.m-show {
    display: none !important;
  }
  .m-show,
  .mo-show {
    display: none !important;
  }
  .pc-show {
    display: inline-block;
  }
}
@media (max-width: 1023px) {
  .m-show {
    display: block;
  }
  .pc-show {
    display: none !important;
  }
  .header-area.fixed.show .two-depth-bg {
    display: none;
  }
  section.business {
    width: 100%;
    margin: 4.8125vw auto;
  }
  section.business .title_area h3 {
    font-size: 2.6vw;
    margin-bottom: 13px;
  }
  section.business .title_area h4 {
    font-size: 1.6vw;
  }
  .slide-area .bg {
    display: none;
  }
  .slide-area .title-area {
    color: #fff;
    position: absolute;
    top: 35vh;
    left: 10vw;
    text-shadow: #000 0 0 10px;
    width: calc(100% - 20vw);
    height: 27vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slide-area .title-area h2.main-tit {
    font-size: 46px;
    margin-bottom: 0.5em;
  }
  .slide-area .title-area p.sub-tit {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
  }
  .swiper-pagination2 ul {
    width: 86%;
    margin: 0 7% 35px;
  }
  .swiper-pagination2 ul li {
    position: relative;
  }
  .swiper-pagination2 ul li a {
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  .swiper-pagination2 ul li::before {
    display: none;
  }
  .swiper-pagination2 ul li span {
    padding-left: 0;
  }
  .swiper-pagination2 .main_slide_handler {
    display: block;
    position: relative;
    width: 120px;
    margin: 0 auto;
  }
  .swiper-pagination2 .main_slide_handler a.slide_btn {
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% - 28px);
  }
  .swiper-pagination2 .main_slide_handler .swiper-button-next,
  .swiper-pagination2 .main_slide_handler .swiper-button-prev,
  .swiper-pagination2 .main_slide_handler .swiper-button-next::after,
  .swiper-pagination2 .main_slide_handler .swiper-button-prev::after {
    font-size: 14px;
    color: #fff;
    background: none;
    font-weight: bold;
    width: auto;
  }
  section.status h5 {
    font-size: 14px;
  }
  section.status .item_list ul {
    display: block;
    overflow: hidden;
  }
  section.status .item_list ul > li {
    float: left;
    width: 33%;
    text-align: center;
    border-right: 0.0521vw solid #ddd;
    margin-bottom: 30px;
    height: 170px;
  }
  section.status .item_list ul > li:nth-child(3n) {
    border-right: none;
  }
  section.status .item_list ul > li .img {
    border-width: 15px;
  }
  section.status .item_list ul > li .img img {
    width: 50px;
  }
  section.status .item_list ul > li .txt span.tit strong {
    font-size: 20px;
  }
  section.status .item_list ul > li .txt p span {
    font-size: 14px;
  }
  section.status .item_list ul > li:has(.small)::before {
    width: 4.8876vw;
    height: 11.5347vw;
    top: calc(50% - 5.7674vw);
    left: -3.9101vw;
  }
  section.status .item_list ul > li .small li .img {
    border-width: 10px;
  }
  section.status .item_list ul > li .small li .img img {
    width: 30px;
  }
  section.status .sup {
    padding: 0;
  }
  section.status .sup ul li {
    font-size: 12px;
  }
  section.business .busiSwiper,
  section.business .btn_area {
    display: none;
  }
  section.business .business-list {
    width: 100%;
  }
  section.business .business-list .mo {
    display: block;
  }
  section.business .business-list .img_area img {
    width: 100%;
    border-radius: 10% 30% 10% 10%;
  }
  section.business .business-list ul {
    width: auto;
    margin: 0;
  }
  section.business .business-list ul li {
    margin-bottom: 20px;
  }
  section.business .business-list ul li a {
    cursor: pointer;
    font-size: 20px;
    background: #f8f8f8;
    border-radius: 5px;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
  }
  section.business .business-list ul li a::after, section.business .business-list ul li a::before {
    display: none;
  }
  section.business .business-list ul li a em {
    width: 5.8651vw;
    height: 5.8651vw;
    background-size: 80%;
    scale: 1;
    border: none;
    min-width: 48px;
    min-height: 48px;
    display: block;
    background-repeat: no-repeat;
  }
  section.business .business-list ul li a span {
    margin: 0;
  }
  section.business .business-list ul li a.active em, section.business .business-list ul li a:hover em {
    width: 5.8651vw;
    height: 5.8651vw;
    background-size: 80%;
    scale: 1;
    border: none;
    min-width: 48px;
    min-height: 48px;
    display: block;
    background-repeat: no-repeat;
  }
  section.business .business-list ul li.busi01 a em {
    background-image: url("./assets/images/sustainability.jpg");
  }
  section.business .business-list ul li.busi01 a em li.busi02 a em {
    background-image: url("./assets/images/work.jpg");
  }
  section.business .business-list ul li.busi01 a em li.busi03 a em {
    background-image: url("./assets/images/supply chain.jpg");
  }
  section.business .business-list ul .mo.txt_area {
    text-align: center;
    margin-bottom: 20px;
  }
  section.business .business-list ul .mo.txt_area .tit {
    font-size: 22px;
    line-height: 40px;
  }
  section.business .business-list ul .mo.txt_area .sub_tit {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}
.notice_banner {
  display: flex;
  gap: 32px;
  width: 100%;
  animation: 1.2s movetop ease-out forwards;
  animation-delay: 1.2s;
  margin-top: 120px;
}

.notice_item {
  display: inline-block;
  width: calc(50% - 16px);
  height: 100%;
  border-radius: 12px;
  padding: 38.5px 28px 40px 20px;
  position: relative;
  background: #117ce9;
}
.notice_item:nth-child(2) {
  margin: 0;
  background: #0d47a1;
}
.notice_item a {
  margin: 0;
  position: absolute;
  bottom: 21px;
  right: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -1px;
  padding: 0 33px;
  border: #1e1e1e 1px solid;
  background-color: #1e1e1e;
  color: #fff;
  transition: 0.3s;
}
.notice_item a:hover {
  background-color: #fff;
  color: #1e1e1e;
}

.notice_item p {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -1px;
  margin: 0;
}/*# sourceMappingURL=styles.css.map */